body{
    background-image: url(assets/bindex.jpg);
    background-size: cover;
    back
}

h1{
    height: 100px;
    width:70%;
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    align-items:center;
    justify-content:center;
    margin-top: 5px;
    background-color: #705c5170;
    color: white;
    box-sizing: border-box;
    box-shadow: 1px 1px #d0cdd3;
    border-radius: 20px;
}

.all{
    width: 100%;
    height: 100%;
    position: relative;
}

.content{
    background-color: #3d3e3aaa;
    color: whitesmoke;
    width:70%;
    text-align: center;
    font-family: 'Eczar', serif;
    margin-top: 50px;
    border-style: solid;
    border-width: 5px;
    border-color:#d0cdd3;
    border-radius: 20px;
    font-size: 22px;
    border-radius: 20px;
    align-content: center;

}

a, a:visited, a:hover, a:active {
    color: #8888ff;
    font-style: bold;
    font-size: 24px;
}

.sidebar{
    height: 100%;
    width: 27%;
    position: absolute;
    text-align:center;
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    top:0;
    right:0;
    background-color: #bc7c5c70;
    border-style: solid;
    border-width: 5px;
    border-color: #d0cdd3;
    border-radius: 15px;
}

img{
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-top: 5px;
    border-radius: 50%;
    border-width: 5px;
    border-color: #d0cdd3;
}

